<div class="principal">
<aside>
    <form>
        <label for="nome-apostador">Nome:</label>
        <input type="text" name="nome-apostador" id="nome-apostador" placeholder="Nome do Apostador">
        <div>
            <label for="tel-apostador">Celular:</label>
            <input type="tel" id="tel-apostador" name="tel-apostador" placeholder="(XX) XXXXX-XXXX">
        </div>
        <div>
            <button type="submit">Enviar Aposta</button>

        </div>
    </form>

</aside>
<section>
    <h2>Dados do Apostador</h2>
 
</section>



</div>