@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.principal {

  height: 100vh;
  display: flex;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

aside {
  display: flex;
  flex: 4;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: silver;
  opacity: 0.8;
}

form {
    width: 400px;
    border: 0px solid;
    background-color: white;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
   
}
form input {
    margin-top: 20px;
}

form label {
    margin:  0 4px 0 0;
}

button {
    margin-top: 20px;
    width: 300px;
    border: 0px solid;
    background-color: rgb(158, 119, 0);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

button:hover{
    background-color: rgb(0, 183, 0);
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(29, 255, 116), 0px 0px 10px silver;
}

section {
  flex: 6;


}




tbody input {
  width: 40px;
  margin: 0 0 0 20px;
  height: 25px;
}

.total {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3{
  text-align: center;
}

img {
  width: 30px;
}

form p {
  font-size: 10px;
}